body{
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center;
    align-content: center;
}
h1{
    color: blueviolet;
}
button{
    background-color: aquamarine;
    margin: 1rem auto ;
    padding: 8px;
}